* {
    margin: 0;
    padding: 0;
}

.body {
    background: url(https://img.freepik.com/premium-photo/macrame-flowers-wooden-stick-white-background_139345-2215.jpg);
    background-size: cover;
}

#navbarNav {
    justify-content: end;
    padding: 10px;
    font-size: 2rem;


}

.nav-link {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: #857981 !important;

}

.navbar-brand {
    font-family: 'Trebuchet MS';
    font-style: oblique;
    font-weight: bold;
    color: rgb(224, 132, 175);
    font-size: 3rem;
}

.navbar-brand:hover {
    color: #d15be4;
}

.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0.034) !important;
}

/* index*/
h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-family: 'Brush Script MT';
    color: rgb(224, 132, 175);
    text-shadow: 1px 1px 1px #ad2fc0;

}

.slide {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.slide img {
    width: 90vh;


}

.footer {

    color: bisque;
    text-decoration: none;
}

.footer1 {
    font-family: sans-serif;
    list-style: none;
    font-weight: bold;

}

.footer1 a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;

}

.card {
    margin-top: 20px;
    margin-left: 20px;

}

.fondo_tienda {
    background: #BE93C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Medias Query*/
@media(max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }
}

@media(max-width: 425px) {
    h1 {
        font-size: 3rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }
}

@media(max-width: 375px) {
    h1 {
        font-size: 2rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }
}