* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://media.istockphoto.com/videos/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke-video-id1341408852?s=640x640);
    background-size: cover;
}

#navbarNav {
    justify-content: end;

}

.bg-body-tertiary {
    background-color: transparent !important;
}

.slide {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.slide img {
    height: 80vh;
}

.footer {

    color: bisque;
    text-decoration: none;
}

.footer1 {
    font-family: sans-serif;
    list-style: none;
    font-weight: bold;

}

.footer1 a {
    text-decoration: none;
}