* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

#navbarNav {
    justify-content: end;
    padding: 10px;
    font-size: 2rem;


}

.nav-link {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: #857981 !important;

}

.navbar-brand {
    font-family: 'Trebuchet MS';
    font-style: oblique;
    font-weight: bold;
    color: rgb(224, 132, 175);
    font-size: 3rem;
}

.navbar-brand:hover {
    color: #d15be4;
}

.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0.034) !important;
}
body{
    background: url(https://img.freepik.com/premium-photo/macrame-flowers-wooden-stick-white-background_139345-2215.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body1 {
    min-height: 100vh;
    display: grid;
    align-items: end;
    align-content: space-between;
    min-height: 100vh;  
   
}

/*-------Index-------*/

h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-family: 'Brush Script MT';
    color: rgb(224, 132, 175);
    text-shadow: 1px 1px 1px #ad2fc0;

}

.slide {
    margin: 20px
}

/*-------Tienda-------*/

.h2 {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color: darkorchid;
}

p {
    font-size: larger;
}

.class-tienda p {
    font-family: 'Trebuchet MS';
}


.tienda {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "card1 card2 card3 card4"
        "card5 card6 card7 card8"
        "card9 card10 card11 card12";

    justify-items: center;
    justify-content: center;
    margin: 1px;
    width: 100%;
    height: 100%;
}

.card-img-top {
    width: 450px;
    height: 500px;


}

div .card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    border: 1px;


}

div .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);

}

.card1 {
    grid-area: card1;

}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card7 {
    grid-area: card7;
}

.card8 {
    grid-area: card8;
}

.card9 {
    grid-area: card9;
}

.card10 {
    grid-area: card10;
}

.card11 {
    grid-area: card11;
}

.card12 {
    grid-area: card12;
}


div .card-body {
    background-color: rgba(0, 0, 0, 0.2);
    

}

.d-grid {
    justify-content: center;
}

.btn {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: #423d3d;
}


/*-------Contacto-------*/

.body-contacto{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
.footer-contacto{
   margin-top: auto;
}

/*-------Sobre nosotros-------*/

.body-sn{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.footer-sn{
    margin-top: auto;
}
/*-------FAQ-------*/

.body-faq{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.footer-faq{
    margin-top: auto;
}

/*-------Footer-------*/

footer {
    color: bisque;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);

}

.footer1 {
    font-family: sans-serif;
    list-style: none;
    font-weight: bold;

}

.footer1 a {
    text-decoration: none;
    color: rgb(36, 126, 126);
}

/*-------Medias Query-------*/

@media(max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    #navbarNav {
        font-size: 1.5rem;
    }

    .tienda {
        display: grid;
        grid-template-columns: .5fr .5fr .5fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card9"
            "card10 card11 card12";
        margin: 1px;
    }

    footer {
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

    }
}

@media(max-width: 425px) {
    h1 {
        font-size: 3rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    #navbarNav {
        font-size: 1.2rem;
    }

    footer {
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .btn {
        width: 85px;
        font-size: small;
    }


}

@media(max-width: 375px) {
    h1 {
        font-size: 2rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    #navbarNav {
        font-size: 1rem;
    }

    .tienda {
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8"
            "card9 card10"
            "card11 card12";
        margin: 1px;
    }

    footer {
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .btn {
        width: 80px;
        font-size: x-small;

    }
}